body a {
  text-decoration: none;
  color: #000;
}
/* 搜索区域样式开始 */
.brand_search {
  padding: 10px;
  background-color: #fff;
}
.brand_search > form {
  padding-right: 70px;
  position: relative;
}
.brand_search > form > input {
  border: none;
  border-radius: 15px;
  height: 30px;
}
.brand_search > form > input[type="search"] {
  width: 100%;
  background: #f1f1f1;
  text-indent: 15px;
}
.brand_search > form > input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  background: #ff841d;
  color: #fff;
  width: 63px;
}
/* 搜索区域样式结束 */
/* 分类与标题结构开始 */
.brand_crumb {
  display: flex;
}
.brand_crumb li {
  flex: 2;
  flex-direction: column;
  justify-content: start;
}
.brand_hot {
  font-size: 16px;
  color: #874604;
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
  margin: 10px 5px;
  border: 1px solid #e0e0e0;
  background-color: #eee;
  border-radius: 6px;
}
/* 分类与标题结构结束 */
/* 底部样式开始 */
.footer {
  background-color: #fff;
}
.footer > .row {
  display: flex;
}
.footer > .row > div {
  text-align: center;
  border: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
  flex: 2;
  flex-direction: column;
  justify-content: space-between;
}
.footer > .row > div > a > img {
  height: 15px;
  width: 15px;
}
.footer > p {
  margin: 10px;
  text-align: center;
  font-size: 12px;
}
.footer > p > a:first-child {
  color: red;
}
/* 底部样式结束 */
