.layout {
  width: 100vw;
  height: 100vh;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.mmm_header {
  height: 55px;
  padding-top: 5px;
  background-color: #ff841d;
  position: relative;
}
.mmm_header .logo {
  float: left;
  padding: 10px 10px;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.mmm_header .logo img {
  display: block;
  width: 100%;
}
.mmm_header .appDL {
  position: absolute;
  right: 5px;
  top: 8px;
  width: 42px;
  height: 42px;
}
.mmm_header .appDL img {
  display: block;
  width: 100%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
ol,
ul {
  list-style: none;
}
.clearfix::before {
  content: " ";
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
}
.coupon_header {
  height: 40px;
  background-color: #f4483e;
}
.coupon_header h2 {
  font-size: 32px;
  color: #fff;
  line-height: 40px;
  font-weight: bold;
}
.coupon_content {
  flex: 1;
}
.coupon_content ul {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.coupon_content li {
  margin: 10px 0;
  width: 30%;
  border: 1px solid #ccc;
  float: left;
}
.coupon_content li img {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.coupon_content li p {
  text-align: center;
}
.mmm_footer {
  height: 60px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.mmm_footer .mui-row > div {
  border: 1px solid #ccc;
}
.mmm_footer .mmm_download {
  padding: 2px 0;
  font-size: 13px;
}
.mmm_footer .mmm_copyright {
  font-size: 12px;
}
