<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../lib/mui/css/mui.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/bjListCont.css">
  <title>Document</title>
</head>

<body>
  <div class="layout clearfix">
    <!-- 头部设置 -->
    <div class="mmm_header">
      <div class="logo">
        <img src="../images/header_logo.png" alt="">
      </div>
      <div class="appDL">
        <img src="../images/header_app.png" alt="">
      </div>
    </div>
    <!-- 中间的内容 -->
    <div class="mmm_content">
      <!-- 搜索部分 -->
      <div class="bj_search">
        <form action="#">
          <input type="text" name="text">
          <input type="submit" name="submit" value="搜索">
        </form>
      </div>
      <!-- 页面中间内容展示,分类区域 -->
      <!-- 区域滚动 -->
      <div class="content_list_wrapper">
        <div class="mui-scroll-wrapper">
          <div class="mui-scroll">
            <!-- 折叠面板 -->
            <div class="produce_wrapper">
              
              
            </div>
            
              
            <!-- 底部的设置 -->
            <!-- <div class="mmm_footer">
            <div class="mui-row">
              <div class="mui-col-xs-4">登录</div>
              <div class="mui-col-xs-4">注册</div>
              <div class="mui-col-xs-4">登录</div>
            </div>
            <div class="mmm_download">手机APP下载 慢慢买手机版 -- 掌上比价平台</div>
            <div class="mmm_copyright">m.manmanbuy.com</div>
          </div> -->
          </div>
        </div>
      </div>


    </div>


  </div>


</body>

<script src="../lib/arttemplate/template-web.js"></script>
<script src="../lib/zepto/zepto.js"></script>
<script src="../lib/mui/js/mui.js"></script>
<script src="../js/common.js"></script>
<script type='text/template' id="proListTemp">
  {{each result value index}}
    <a href="bjListDetail.html?productid={{value.productId}}">
      <div class="pro_left">
        {{@value.productImg}}
      </div>
      <div class="pro_right">
        <div class="pro_name mui-ellipsis-2">
         {{value.productName}}
        </div>
        <div class="pro_price">
          {{value.productPrice}}
        </div>
        <div class="pro_comment">
          <span>{{value.productQuote}}</span>
          <span>{{value.productCom}}</span>
        </div>
      </div>
    </a>
  {{/each}}
</script>
<script src="../js/bjListCont.js"></script>


</html>