<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>国内折扣</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../lib/mui/css/mui.css">
    <link rel="stylesheet" href="../css/inlanddiscount.css">

</head>

<body>
    <!-- 头部 -->
    <div class="title_header">
        <h4>国内折扣</h4>
    </div>
    <!-- 产品 -->
    <main id="inlanddiscount">
        <div class="inland-discount-list cu-friend">
            <ul class="discountList">
            </ul>
        </div>
        <div class="loading" style="transform: scale(0.5) rotate(45deg); display: none;">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <div class="bar4"></div>
            <div class="bar5"></div>
            <div class="bar6"></div>
            <div class="bar7"></div>
            <div class="bar8"></div>
        </div>
    </main>


</body>

</html>0
<!-- 模板文件 -->
<script type="text/html" id='discountTpl'>
    {{each arr item index}}
    <li class="border-img">
        <a href="discount.html?productid={{item.productId}}" title="《皮囊》 19.9元">
            <div class="img">{{@item.productImg}}</div>
            <div class="title">{{item.productName}}</div>
            <div class="subtit">{{item.productPrice}}</div>
            <div class="info">
                <div class="mall">{{item.productFrom}} | {{item.productTime}}</div>
            </div>
        </a>
    </li>
    {{/each}}
</script>
<script src="../lib/mui/js/mui.js"></script>
<script src="../lib/zepto/zepto.js"></script>
<script src="../lib/arttemplate/template-web.js"></script>
<script src="../js/inlanddiscount.js"></script>