<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../lib/mui/css/mui.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/sqk.css">
  <title>Document</title>
</head>

<body>
  <div class="layout" >
    <!-- 头部设置 -->
    <div class="sqk_header">
      <h3>省钱控</h3>
    </div>
    <!-- 中间的内容 -->
    <div class="mmm_content">
      
      <!-- 页面中间内容展示,分类区域 -->
      <!-- 区域滚动，注意底部的注册登录也在区域滚动里面 -->
      <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
          <ul class="sqk_product_list">
            

          </ul>
         
          <!-- 底部的设置 -->
          <!-- <div class="mmm_footer">
            <div class="mui-row">
              <div class="mui-col-xs-4">登录</div>
              <div class="mui-col-xs-4">注册</div>
              <div class="mui-col-xs-4">登录</div>
            </div>
            <div class="mmm_download">手机APP下载 慢慢买手机版 -- 掌上比价平台</div>
            <div class="mmm_copyright">m.manmanbuy.com</div>
          </div> -->
        </div>
      </div>

    </div>


  </div>

</body>

<script src="../lib/arttemplate/template-web.js"></script>
<script src="../lib/zepto/zepto.js"></script>
<script src="../lib/mui/js/mui.js"></script>
<script src="../js/common.js"></script>
<script type="text/template" id="sqkProListTemp">
  {{each result value index}}
  <li>
    <a href="#">
      <div class="pro_list_left">
        {{@value.productImgSm}}
      </div>
      <div class="pro_list_right">
        <div class="pro_title">
          {{value.productName}}
        </div>
        <div class="pro_price">
          ￥{{value.productPinkage}}
        </div>
        <span class="pro_from">
          {{value.productFrom}} | {{value.productTime}}
          <span class="pro_comment">
            <span class="mui-icon mui-icon-chat"></span> 
            {{value.productComCount}}
          </span>
        </span>
        
      </div>
    </a>
  </li>
  {{/each}}
   <!-- 翻页的实现 -->
  <div class="mui-content-padded">
				<ul class="mui-pager">
					<li  class="listPrev">
						<button >
							上一页
						</button>
					</li>
					<li class="listNext">
						<button >
							下一页
						</button>
					</li>
				</ul>
			</div>
</script>
<script src="../js/sqk.js">
  
</script>
</html> 