<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../lib/mui/css/mui.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/youhuiquan.css">
  <title>Document</title>
</head>

<body>
  <div class="layout">
    <!-- 头部设置 -->
    <div class="yh_header">
      <h3>优惠券</h3>
    </div>
    <!-- 中间的内容 -->
    <div class="mmm_content">
      <div class="mui-row yhqTitle">
        
      </div>
      <!-- 页面中间内容展示,分类区域 -->
      <!-- 区域滚动，注意底部的注册登录也在区域滚动里面 -->



      <!-- 底部的设置 -->
      <!-- <div class="mmm_footer">
            <div class="mui-row">
              <div class="mui-col-xs-4">登录</div>
              <div class="mui-col-xs-4">注册</div>
              <div class="mui-col-xs-4">登录</div>
            </div>
            <div class="mmm_download">手机APP下载 慢慢买手机版 -- 掌上比价平台</div>
            <div class="mmm_copyright">m.manmanbuy.com</div>
          </div>
        </div> -->

    </div>

</body> 

<script src="../lib/arttemplate/template-web.js"></script>
<script src="../lib/zepto/zepto.js"></script>
<script src="../lib/mui/js/mui.js"></script>
<script src="../js/common.js"></script>
<script type="text/template" id="titleTemp">
  {{each result value index}}
  <div class="mui-col-xs-6">
    <a href="{{value.couponLink}}?id={{value.couponId}}">{{value.couponTitle}}</a>
  </div>
  {{/each}}
</script>
<script src="../js/yhq.js"></script>
</script>

</html>